<div class="container mt-5">
  <p><%= link_to '< Back', restaurants_path, class: 'btn-light' %></p>

  <div class="card-trip">
    <img src="http://source.unsplash.com/featured/?#{@restaurant.category}" />
      <div class="card-trip-infos p-2">
        <div>
          <h2><%= @restaurant.name %></h2>
          <h4><%= @restaurant.category %></h4>
        </div>
      <h3 class="card-trip-pricing p-2"><%= @restaurant.address %></h3>
  </div>
</div>

  <div class="col-md">
    <h3><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></h3>
  </div>
  <div class="col-md">
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %> | Rating: <%= review.rating %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= link_to restaurant_path(@restaurant), method: :delete, data: { confirm: "you sure?" }, class: 'card-action card-edit' do %>
    <i class="fas fa-times"></i>
    <% end %>
  </div>
  </div>
  </div>
</div>
